/*********************************
*
*Author: Mariusz Walusiak
*Date 29.10.2021
*
*********************************/

p{
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 2em;
    margin-bottom: 32px;
}
