/*********************************
*
*Author: Mariusz Walusiak
*Date 28.10.2021
*
*********************************/
#header p{
    text-transform: capitalize;
}

body{
    text-transform: uppercase;
}

body > p{
    text-transform: none ;
}